<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pranav.survival">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prepmain"
            android:label="@string/title_activity_prepmain"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pranav.survival.MainActivity" />

            <activity android:name="com.google.firebase.udacity.friendlychat.MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </activity>
        <activity android:name=".SHELTER" />
        <activity android:name=".FIRE" />
        <activity android:name=".Kits" />
        <activity android:name=".Power" />
        <activity android:name=".Direction" />
        <activity android:name=".Water" />
        <activity android:name=".Tools" />
        <activity android:name=".Food" />
        <activity android:name=".Animals" />
        <activity android:name=".Plants" />
        <activity android:name=".PoisonousPlants" />
        <activity android:name=".Medicine" />
        <activity android:name=".Psychology" />
        <activity android:name=".Signaling" />
        <activity android:name=".Watercross" />
        <activity android:name=".Forest" />
        <activity android:name=".Desert" />
        <activity android:name=".Cold" />
        <activity android:name=".FORUM" />
        <activity android:name=".Videos" />
        <activity android:name=".videolist" />
        <activity android:name=".video2" />
        <activity android:name=".video3"></activity>
    </application>

</manifest>